<div class="container">
    <div class="row">
        <!-- {{if contractor === true}} -->
        <div class="col-4">
            {{#each projects as |project|}}
            <div class="card h-30 shadow-sm"> <img src="{{ product.filename }}" class="card-img-top " alt="...">
                <div class="label-top shadow-sm">${{ product.price }}/sqf</div>
                <div class="card-body">
                    <h4 class="card-title text-center">{{ product.name }}</h4>
                    <h6 class="text-center">{{ product.description }}</h6>
                    <div class="text-center my-4"> <a href="#" class="btn btn-warning">Start Project</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="col-8">
            {{#each products as |product|}}
            <div class="card h-30 shadow-sm"> <img src="{{ product.filename }}" class="card-img-top " alt="...">
                <div class="label-top shadow-sm">${{ product.price }}/sqf</div>
                <div class="card-body">
                    <h4 class="card-title text-center">{{ product.name }}</h4>
                    <h6 class="text-center">{{ product.description }}</h6>
                    <div class="text-center my-4"> <a href="#" class="btn btn-warning">Start Project</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>